<body>
  <br>
  <%= render 'shared/header' %>
  <br>
  <br>
  <div class="border col-7 container">
    <br>
    <h2>ユーザー管理</h2>
    <br>
    <%= form_with(url: user_registration_path(current_user.id), local: true) do |f| %>

      <div class="row align-items-center justify-content-center">
        <div class="col-mdd-flex">
          <form>
            <div class="form-group">
              <%= f.label :メールアドレス %>
              <%= f.email_field :email, class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :新しいパスワード %> <i>(<%= @minimum_password_length %> characters minimuｍ)</i><br />
              <%= f.password_field :password, class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :確認用にパスワードをもう一度入力してください %><br />
              <%= f.password_field :password_confirmation, class:"form-control"%>
            </div>
            <div class="container">
              <%= f.submit "決定", class:"btn btn-primary btn-lg rounded-pill" %>
            </div>
          </form>
        </div>
      </div>
    <% end %>
    <%# <%= link_to "削除", user_registration_path(@user.id), method: :delete, class:"btn btn-primary btn-lg rounded-pill float-right"%> %>
  </div>
</body>