<%= render 'shared/header' %>
<br>
<br>
<div class="border col-7 container">
  <br>
  <h2 class="p-3 text-success">ユーザー情報</h2>
  <br>
  <% @user.each do |user| %>
    <div class="row align-items-center justify-content-center">
      <div class="flex-column">
        <div class="col-sm-5 mb-5 mb-md-0">
          <p>名前</p>
          <h3><%= user.family_name %></h3>
          <h3><%= user.given_name %></h3>
        </div>
        <div class="col-sm-5 mb-5 mb-md-0">
          <p>メールアドレス</p>
          <h3><%= user.email %></h3>
        </div>
        <div class="col-sm-5 mb-5 mb-md-0">
          <p>体重</p>
          <h3><%= user.birth_day %></h3>
        </div>
        <div class="col-sm-5 mb-5 mb-md-0">
          <p>いつから始めたのか</p>
          <h3><%= user.created_at.strftime('%Y/%m/%d') %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
