<%= form_with(model: money_body, url: money_index_path, method: :post, local: true) do |form| %>
  <% if money_body.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(money_body.errors.count, "error") %> prohibited this money from being saved:</h2>

      <ul>
        <% money_body.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :saving_amount %>
    <%= form.text_field :saving_amount %>
  </div>

    <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="actions">
    <%= form.submit data: { confirm: '変更できません。よろしいですか?' } %>
  </div>
<% end %>
