<!doctype html>
<html lang="ja" >
  <head>
    <title>ダッシュボードテンプレート for Bootstrap · Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="dashboard.css" rel="stylesheet">
    <link href="../example.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      a, a:visited, a:focus, a:hover {
        text-decoration: none;
      }
      /* Chart.js */
      @-webkit-keyframes chartjs-render-animation {
        from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;
      }
      /* sidebar */
      .nav-link {
        color: black;
      }
      .nav-link:hover {
        color: #F9C80E;
      }
      /* main */
      main {
        background-color: whitesmoke;
      }
    </style>
  </head>
  <body class="h-100">

    <%# header %>
    <%= render 'shared/header' %>

    <div class="container-fluid">
      <div class="row">
        <%# sidebar %>
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-20 border-end">
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item border-bottom py-3">
                <a class="nav-link" href="/money/new">
                  <span data-feather="plus-circle"></span>
                  Today's Record
                </a>
              </li>
              <li class="nav-item border-bottom py-3">
                <a class="nav-link" href="/money/show">
                  <span data-feather="dollar-sign"></span>
                  Money Record
                </a>
              </li>
              <li class="nav-item border-bottom py-3">
                <a class="nav-link" href="/bodies/show">
                  <span data-feather="bar-chart-2"></span>
                  Weight Record
                </a>
              </li>
              <li class="nav-item border-bottom py-3">
                <a class="nav-link" href="/users/edit">
                  <span data-feather="users"></span>
                  User Profile
                </a>
              </li>
              <li class="nav-item border-bottom py-3">
                <a class="nav-link" href="/money">
                  <span data-feather="home"></span>
                  Top Page
                </a>
              </li>
            </ul>
          </div>
        </aside>

        <%# main-content %>
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0">
          <div class="main-content-container container-fluid px-4">
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <h3 class="page-title">TOPPAGE</h3>
              </div>
            </div>
            <% unless @goal.present? %> 
              <div class="row">
                <div class="text-center">
                  <div class="">
                    <%= image_tag "goal_index.jpg", class:"rounded-circle my-5", width:"550" %>
                  </div>
                  <div class="">
                    <h1>目標を設定しよう！</h1>
                    <h2 class="text-muted d-block my-3">いつまでに達成するのかなど具体的な目標を立てよう</h2>
                    <%= link_to 'START', new_goal_path, class: "btn btn-lg btn-pill btn-outline-success w-50 my-5" %>
                  </div>
                </div>
              </div>
            <% end %> 

            <div class="row">
            <% if @goal.present? %>
            <% @goal.each do |goal| %>
              <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                <div class="card card-stats mb-4 mb-xl-0 shadow">
                  <div class="card-body d-flex">
                    <div class="row m-auto">
                      <div class="col">
                        <span class="h2 card-title text-muted mb-0 mr-5">Goal</span>
                        <span class="h2 font-weight-bold mb-0"><%= goal.period.strftime('%Y年%m月%d日') %></span>
                        <span>までに</span>
                        <span class="h2 font-weight-bold mb-0"><%= goal.purpose %></span>
                      </div>
                    </div>
                    <div class="row m-auto">
                      <%= link_to 'edit', goal_path(goal.id), class: "btn btn-outline-warning btn-lg col-sm mr-3" %>
                      <%= link_to 'delete', goal_path(goal.id), method: :delete, class:"btn btn-outline-danger btn-lg col-sm" %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
                <div class="card card-stats mb-4 mb-xl-0 shadow">
                  <div class="card-body d-flex">
                    <div class="row">
                      <div class="col py-3">
                        <div class="h2 card-title text-muted mb-5">Saving Money</div>
                        <h3 class="card-title text-muted">Total</h3>
                        <div class="h1 font-weight-bold mb-3">￥<%= Money.sumprice %></div>
                        <h3 class="card-title text-muted">Goal</h3>
                        <div class="h1 font-weight-bold">￥<%= goal.saving_goal %></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-8 col-md-8 col-sm-12 mb-4">
                <div class="card card-stats mb-4 mb-xl-0 shadow">
                  <div class="card-body d-flex">
                    <div class="row m-auto">
                      <div class="col">
                        <div class="h2 card-title text-muted">Saving Money</div>
                        <%= column_chart @money.group_by_day(:created_at).sum(:saving_amount), xtitle: "日付", ytitle: "貯金額(円)", colors: ["#3cb371"], width: "500px" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-8 col-md-8 col-sm-12 mb-4">
                <div class="card card-stats mb-4 mb-xl-0 shadow">
                  <div class="card-body d-flex">
                    <div class="row m-auto">
                      <div class="col">
                        <div class="h2 card-title text-muted">Lose Weight</div>
                        <%= area_chart @bodies.group_by_day(:created_at).sum(:weight), xtitle: "日付", ytitle: "体重(KG)", colors: ["#3cb371"], width: "500px" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
                <div class="card card-stats mb-4 mb-xl-0 shadow">
                  <div class="card-body d-flex">
                    <div class="row">
                      <div class="col py-3">
                        <div class="h2 card-title text-muted mb-5">Lose Weight</div>
                        <h3 class="card-title text-muted">My weight</h3>
                        <div class="h1 font-weight-bold mb-3"><%= Body.recentweight %>KG</div>
                        <h3 class="card-title text-muted">Goal</h3>
                        <div class="h1 font-weight-bold"><%= goal.weight_goal %>KG</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <% end %>
            </div>
          </div>
        </main>
      </div>
    </div>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script>
      window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script><script src="/docs/4.4/assets/js/vendor/anchor.min.js"></script>
    <script src="/docs/4.4/assets/js/vendor/clipboard.min.js"></script>
    <script src="/docs/4.4/assets/js/vendor/bs-custom-file-input.min.js"></script>
    <script src="/docs/4.4/assets/js/src/application.js"></script>
    <script src="/docs/4.4/assets/js/src/search.js"></script>
    <script src="/docs/4.4/assets/js/src/ie-emulation-modes-warning.js"></script>
  </body>
</html>