<style type="text/css">
  .total {
    height: 100vh;
  }
  .money-title {
    color: #FF7C00;
    background: -webkit-linear-gradient(top, #fbfcdb 0%, #f9d423 50%, #f9d423 51%, #f9d423 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .anime-text {
    animation: poyoyon 0.5s cubic-bezier(0.12, 0, 0.39, 0) 1 forwards;
  }
  @keyframes poyoyon {
    0% {
      transform: translateX(140px);
      opacity: 0;
    }
    50% {
      transform: translateX(0);
    }
    65% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(0);
    }
    20%,100% {
      opacity: 1;
    }
  }
</style>
<%= render 'shared/header' %>

<div class="container-fluid">
  <%# sidebar %>
  <div class="row">
    <%= render 'shared/sidebar' %>
  
    <main class="total main-content col-lg-10 col-md-9 col-sm-12">
      <div class="main-content-container py-5 px-3">
        <div class="row mb-3">
          <h1 class="anime-text mt-3 text-center"><i class="money-title fas fa-comment-dollar"></i>今までの貯金金額一覧</h1>
        </div>

        <div class="row">
          <div class="col-10 d-block mx-auto">
            <table class="table table-hover">
              <thead class="bg-light">
                <tr>
                  <th scope="col">DATE</th>
                  <th scope="col">金額</th>
                  <th scope="col">一言</th>
                  <th scope="col">削除</th>
                </tr>
              </thead>
              <% @money.each do |money| %>
              <tbody>
                <tr scope="row">
                  <td><%= money.created_at.strftime('%Y/%m/%d') %></td>
                  <td><%= money.saving_amount %></td>
                  <td><%= money.text %></td>
                  <td><%= link_to money_path(money.id), method: :delete, data: { confirm: '削除しますか?' } do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  <% end %></td>
                </tr>
              </tbody>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>