<%= render "shared/header" %>
<br>
<br>
<div class="border col-7 container">
  <br>
  <h2>ログインをしよう！</h2>
  <br>

  <%= form_with model: @user, url: new_user_session_path, method: :post, local: true do |f| %>
    <div class="row align-items-center justify-content-center">
      <div class="col-mdd-flex">

        <%= render "devise/shared/error_messages", model: f.object %>

        <form>
          <div class="form-group">
            <%= f.label :"メールアドレス" %><br />
            <%= f.email_field :email, class:"form-control", placeholder:"aaa@gmail.com" %>
          </div>

          <div class="form-group">
            <%= f.label :"パスワード" %>
            <em>(8 characters minimum)</em>
            <%= f.password_field :password, class:"form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :"確認用パスワード" %>
            <em>確認のため再度パスワードを入力して下さい</em>
            <%= f.password_field :password_confirmation, class:"form-control" %>
          </div>

          <div class="container">
            <%= f.submit "Log in", class:"btn btn-success btn-lg rounded-pill" %>
          </div>
        </form>
      </div>
    </div>
  <% end %>
  <%= link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post%>
  <%= link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post%>
</div>