    <div class="border col-7 container">
        <br>
        <h2>目標設定</h2>
        <br>
        <%= form_with(model: @goal, url: goals_path, method: :post, local: true) do |goal| %>
        <div class="row align-items-center justify-content-center">
            <div class="col-mdd-flex">
                <form>
                    <div class="form-group">
                      <%= goal.label :貯金金額 %>
                      <%= goal.text_field :saving_goal, class:"form-control", placeholder:"30" %>
                    </div>
                    <div class="form-group">
                      <%= goal.label :体重 %>
                      <%= goal.text_field :weight_goal, class:"form-control", placeholder:"50" %>
                    </div>
                    <div class="form-group">
                        <label>生年月日</label>
                        <span>必須</span>
                    </div>
                    <div>
                      <%= raw sprintf(
                        goal.date_select(
                          :period,
                          class:'form-control',
                          use_month_numbers: true,
                          prompt:'--',
                          start_year: Time.now.year,
                          end_year: (Time.now.year + 10),
                          date_separator: '%s'),
                        "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
                    </div>
                    <div class="form-group">
                      <%= goal.label :目的 %>
                      <%= goal.text_field :purpose, class:"form-control", placeholder:"カバンを買う" %>
                    </div>
                    <div class="container">
                      <%= goal.submit '決定', class:"btn btn-primary btn-lg btn-block" %>
                    </div>
                </form>
            </div>
        </div>
        <% end %>
    </div>
